<template name="unitItem">
    {{#if viewArchiveUnits}}
        {{#if archive}}
            <div class="column custom-column center aligned">
                <i class="home icon massive home-color"></i>
                <i class="reply big icon grey restore" title="restore"></i>
                <p><h3 class="owner-name">Unit Alias: {{alias}}</h3></p>
            </div>
        {{/if}}
    {{else}}
        {{#unless archive}}
            <div class="column custom-column center aligned">
                <a href="{{pathFor 'tenantPage' query=pidQuery}}">
                    <i class="home icon massive home-color"></i>
                    <p><h3 class="owner-name">Unit Alias: {{alias}}</h3></p>
                </a>
            </div>
        {{/unless}}
    {{/if}}
</template>