<template name="portfolioSubmit">
    <div class="ui container content-div">
        <div class="ui segments">
            <div class="ui segment">
                <form class="ui form">
                    <div class="field">
                        <label>Title of Portfolio</label>
                        <input name="title" class="custom-input" id="title" placeholder="Portfolio Name" maxlength="50" />
                    </div>
                    <div class="ui equal width center aligned padded grid">
                        <div clas="column">
                            <button class="ui button primary" type="submit" value="submit">Create</button>
                        </div>
                    </div>
                    <div class="ui error message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
