<template name="tenantSubmit">
    <div class="ui container content-div-tenant-submit">
        <div class="ui segments">

            <div class="ui segment">
                <form class="ui form">
                    <div class="inline fields">

                        <div class="tenant-field field">
                            <label>First Name</label>
                            <input name="fname" class="tenant-custom-input" id="fname" placeholder="First Name"/>
                        </div>

                        <div class="tenant-field field">
                            <label>Last Name</label>
                            <input name="lname" class="tenant-custom-input" id="lname" placeholder="Last Name"/>
                        </div>

                        <div class="tenant-field field">
                            <label>Phone Number</label>
                            <input name="phone" class="tenant-custom-input" id="phone" placeholder="Phone Number"/>
                        </div>

                    </div>

                    <div class="inline fields">

                        <div class="tenant-field field email-password">
                            <label>Email</label>
                            <input name="email" class="tenant-custom-input" id="email" placeholder="Email Address"/>
                        </div>

                        <div class="tenant-field field email-password">
                            <label>Password</label>
                            <input name="password" type="password" class="tenant-custom-input" id="password"/>
                        </div>

                    </div>

                    <div class="ui equal width center aligned padded grid">
                        <div class="column">
                            <button class="ui button primary" type="submit" value="submit">Create Primary Tenant</button>
                        </div>
                    </div>
                    <div class="ui error message">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
